<launch>
  <!-- Launch the wall follower with parameters -->
  <node pkg="safety_controller" name="safety_controller" type="safety_controller.py" output="screen">
    <rosparam command="load" file="$(find safety_controller)/params.yaml"/>
  </node>
  <node pkg="safety_controller" name="test_drive" type="test_drive.py" output="screen">
      <rosparam command="load" file="$(find safety_controller)/params.yaml"/>
  </node>
</launch>
